table {
    border-collapse: collapse;
}
tr 
{
    background-color: paleturquoise;
    color:indigo;
    text-align: center;
    padding: 1%;
    
    
}
.titre{
    text-align: center;
    padding: 3%;
    background-color: cornflowerblue;
   
}
.cmd {
    text-align: center;
    background-color:aliceblue ;
    color:indigo;
    padding:1%;
    font-size: large;
}
.desc {
    text-align: center;
    padding: 3%;
    background-color: cornflowerblue;
    font-size: large;
}
td {
    border: 1px solid black;
}
